/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    border: none;
}


html {
    font-family: Jetbrains Mono, Helvetica, sans-serif;
    background-color: bisque;
}

.main {
    height: 100vh;
}
/* -=============== HEADER ===============- */

.header {
    padding-top: 54px;
    text-align: center;
}

.header h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    text-transform:uppercase;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
}

.header p {
    margin: 15px 0;
    font-style: italic;
    opacity: 0.4;
}

/* -=============== CONTAINER ===============- */
.container {
    width: 600px;
    height: 400px;
    margin: 40px auto;

}

.container form {
    width: 500px;
    padding:  60px;
    border: #000 solid 3px;
    background-color: aliceblue;
    top: 50%;
    
}

.container input {
    width: 250px;
    height: 25px;
    margin: 4px 40px;
    padding: 8px;
    border: 1px solid #ccc;
}

.container button:hover {
    background-color: #ccc;
    color: #000;
}

.container button{

    margin-top: 15px;
    margin-right:  40px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
}

.sub-container {

    float: left;
    padding-top: 8px;
    margin-top: 15px;
    opacity: 0.8;
}

.sub-container a {
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
    
}

/* -=============== SIGN UP ===============- */


/* -=============== REGISTRATION ===============- */

.container ul {
    /* display: list-item; */
    margin: auto;
    list-style-type: none;
    padding: 30px;
    background-color: #ccc;
    border: #000 solid 3px; 
}

.container li {
    display: inline-block;
    width: 100%;
    float: left;
    margin-left: 60px;
    padding: 5px 0;
}




/* -=============== FOOTER ===============- */
.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 64px;
}